In [1]:
import pandas as pd
import numpy as np

Empezamos ordenandos los csv Lentes de contacto y liquidos. Después con el de las gafas

In [2]:
data_lc_d= pd.read_csv("./data/csv_scrap/opticalia/lc/lts_dias.csv", index_col=0)
data_lc_m = pd.read_csv("./data/csv_scrap/opticalia/lc/lts_mensual.csv", index_col=0)
data_liq = pd.read_csv("./Data/csv_scrap/opticalia/lc/liquidos.csv",index_col=0)
data_gafas_1 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_1.csv", index_col=0)
data_gafas_2 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_2.csv", index_col=0)
data_gafas_3 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_3.csv", index_col=0)
data_gafas_4 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_4.csv", index_col=0)
data_gafas_5 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_5.csv", index_col=0)
data_gafas_6 = pd.read_csv("./data/csv_scrap/opticalia/gafas/grad_opt_6.csv", index_col=0)

In [3]:
data_lc_d["Empresa"] = "Opticalia"
data_lc_d["Reemplazo"] = "Diario"
data_lc_d = data_lc_d.rename(columns={"nombre_completo":"Nombre completo",
                                      "categoria":"Categoria",
                                      "producto":"Producto",
                                      "precio":"Precio"})

data_lc_d["Producto"] = "Marca Propia"
data_lc_d["Categoria"] = "Lentes de contacto"
data_lc_d = data_lc_d[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [4]:
data_lc_d["Precio"] = data_lc_d["Precio"].apply(lambda x: x[:-1]).str.replace(",",".").astype(float)

In [5]:
data_lc_d.head()

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Opticalia,VISTASOFT LENTES DIARIAS CONFORT ASFÉRICAS 90,Lentes de contacto,Marca Propia,Diario,49.95
1,Opticalia,VISTASOFT LENTES DIARIAS CONFORT ASFÉRICAS 30,Lentes de contacto,Marca Propia,Diario,20.95
2,Opticalia,VISTASOFT LENTES DIARIAS ASFÉRICAS 90,Lentes de contacto,Marca Propia,Diario,44.95
3,Opticalia,VISTASOFT LENTES DIARIAS ASFÉRICAS 30,Lentes de contacto,Marca Propia,Diario,18.95
4,Opticalia,1 DAY SILICONE MULTIFOCAL PREMIUM 30 (Adición ...,Lentes de contacto,Marca Propia,Diario,52.50

In [6]:
data_lc_m["Empresa"] = "Opticalia"
data_lc_m["Reemplazo"] = "Diarias"
data_lc_m = data_lc_m.rename(columns={"nombre_completo":"Nombre completo",
                                      "categoria":"Categoria",
                                      "producto":"Producto",
                                      "precio":"Precio"})

data_lc_m["Producto"] = "Marca Propia"
data_lc_m = data_lc_m[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [7]:
data_lc_m["Empresa"] = "Opticalia"
data_lc_m["Reemplazo"] = "Mensual"
data_lc_m = data_lc_m.rename(columns={"nombre_completo":"Nombre completo",
                                      "categoria":"Categoria",
                                      "producto":"Producto",
                                      "precio":"Precio"})

data_lc_m["Producto"] = "Marca Propia"
data_lc_m["Categoria"] = "Lentes de contacto"
data_lc_m = data_lc_m[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [8]:
data_lc_m["Precio"] = data_lc_m["Precio"].apply(lambda x: x[:-1]).str.replace(",",".").astype(float)

In [9]:
data_lc_m.head()

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Opticalia,LENTES BIO TORIC -2.25 cilindro (3 uds),Lentes de contacto,Marca Propia,Mensual,38.0
1,Opticalia,LENTES INITIAL BIO MULTIFOCAL Low (6 uds),Lentes de contacto,Marca Propia,Mensual,75.5
2,Opticalia,LENTES INITIAL BIO MULTIFOCAL High (6 uds),Lentes de contacto,Marca Propia,Mensual,75.5
3,Opticalia,LENTES BIO MULTIFOCAL N (3 uds),Lentes de contacto,Marca Propia,Mensual,43.0
4,Opticalia,LENTES BIO MULTIFOCAL D (3 uds),Lentes de contacto,Marca Propia,Mensual,43.0

In [10]:
data_tot_lc_opticalia = pd.concat([data_lc_d,data_lc_m],axis=0)
data_tot_lc_opticalia.reset_index(inplace=True)
data_tot_lc_opticalia.drop("index",axis=1,inplace=True)

In [11]:
data_tot_lc_opticalia.head()

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Opticalia,VISTASOFT LENTES DIARIAS CONFORT ASFÉRICAS 90,Lentes de contacto,Marca Propia,Diario,49.95
1,Opticalia,VISTASOFT LENTES DIARIAS CONFORT ASFÉRICAS 30,Lentes de contacto,Marca Propia,Diario,20.95
2,Opticalia,VISTASOFT LENTES DIARIAS ASFÉRICAS 90,Lentes de contacto,Marca Propia,Diario,44.95
3,Opticalia,VISTASOFT LENTES DIARIAS ASFÉRICAS 30,Lentes de contacto,Marca Propia,Diario,18.95
4,Opticalia,1 DAY SILICONE MULTIFOCAL PREMIUM 30 (Adición ...,Lentes de contacto,Marca Propia,Diario,52.50

In [12]:
data_tot_lc_opticalia.to_csv("./Data/lc_opt.csv")

In [13]:
data_liq

,nombre_completo,categoria,producto,reemplazo,precio
0,"ÚNICA CON HIALURONATO con packing, 350 ml. Con...",Lentillas,Liquidos,Mensuales,"7,50 €"
1,ÚNICA HERBAL 350ml. Con portalentes,Lentillas,Liquidos,Mensuales,"10,00 €"
2,PEROXIDO (250 ml),Lentillas,Liquidos,Mensuales,"12,00 €"
3,SOLUCIÓN SALINA (350 ml),Lentillas,Liquidos,Mensuales,"6,00 €"

In [14]:
data_liq = data_liq.rename(columns={"nombre_completo":"Nombre completo",
                                                "categoria":"Categoria",
                                                "producto":"Producto",
                                                "precio":"Precio"})
data_liq.drop("reemplazo",axis=1,inplace=True)
data_liq["Empresa"] = "Opticalia"
data_liq = data_liq[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

data_liq["Producto"] = "Marca Propia"
data_liq["Categoria"] = "Líquidos"

data_liq["Precio"] = data_liq["Precio"].apply(lambda x: x[:-1]).str.replace(",",".").astype(float)

In [15]:
data_liq

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Opticalia,"ÚNICA CON HIALURONATO con packing, 350 ml. Con...",Líquidos,Marca Propia,7.5
1,Opticalia,ÚNICA HERBAL 350ml. Con portalentes,Líquidos,Marca Propia,10.0
2,Opticalia,PEROXIDO (250 ml),Líquidos,Marca Propia,12.0
3,Opticalia,SOLUCIÓN SALINA (350 ml),Líquidos,Marca Propia,6.0

In [16]:
data_liq.to_csv("./Data/data_liq_opt.csv")

Acabaremos esta sección de Opticalia con la limpieza de sus datos.

In [29]:
data_tot_gaf_opt = pd.concat([data_gafas_1,data_gafas_2,data_gafas_3,data_gafas_4,data_gafas_5,data_gafas_6],axis=0)
data_tot_gaf_opt.reset_index(inplace=True)
data_tot_gaf_opt.drop("index",axis=1,inplace=True)

In [30]:
data_tot_gaf_opt

,nombre_completo,categoria,producto,reemplazo,precio
0,ANDERSSON,Gafas,Custo Barcelona,Ofertas montura + cristales,"109,90 €"
1,PATSY,Gafas,Custo Barcelona,Ofertas montura + cristales,"109,90 €"
2,RYTHM,Gafas,Custo Barcelona,Ofertas montura + cristales,"109,90 €"
3,ABBA,Gafas,Custo Barcelona,Ofertas montura + cristales,"109,90 €"
4,GAYNOR,Gafas,Custo Barcelona,Ofertas montura + cristales,"109,90 €"
...,...,...,...,...,...
115,DEANNA,Gafas,The Look,Ofertas montura + cristales,"99,90 €"
116,NICK,Gafas,The Look,Ofertas montura + cristales,"99,90 €"
117,RYDER,Gafas,The Look,Ofertas montura + cristales,"99,90 €"
118,ROURKE,Gafas,The Look,Ofertas montura + cristales,"99,90 €"
119,BAGGY,Gafas,The Look,Ofertas montura + cristales,"99,90 €"

In [31]:
for indice, valor in data_tot_gaf_opt["precio"].iteritems(): # Quitamos cositas del precio.
    cadena = valor
    cadena = cadena.replace('€', '') 
    cadena = cadena.replace(',', '.')
    try:
        valor_float = float(cadena)
        data_tot_gaf_opt.at[indice, "precio"] = valor_float
    except ValueError:
        # No se pudo convertir a float, puedes manejar el error aquí
        pass

data_tot_gaf_opt["precio"] = data_tot_gaf_opt["precio"].astype(float)

In [32]:
data_tot_gaf_opt = data_tot_gaf_opt.rename(columns= {"nombre_completo":"Nombre completo",
                                                    "reemplazo":"Categoria",
                                                    "producto":"Producto",
                                                     "precio":"Precio"})
data_tot_gaf_opt.drop("categoria",axis=1,inplace=True)
data_tot_gaf_opt["Empresa"] = "Opticalia"

data_tot_gaf_opt = data_tot_gaf_opt[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [33]:
data_tot_gaf_opt

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Opticalia,ANDERSSON,Ofertas montura + cristales,Custo Barcelona,109.9
1,Opticalia,PATSY,Ofertas montura + cristales,Custo Barcelona,109.9
2,Opticalia,RYTHM,Ofertas montura + cristales,Custo Barcelona,109.9
3,Opticalia,ABBA,Ofertas montura + cristales,Custo Barcelona,109.9
4,Opticalia,GAYNOR,Ofertas montura + cristales,Custo Barcelona,109.9
...,...,...,...,...,...
115,Opticalia,DEANNA,Ofertas montura + cristales,The Look,99.9
116,Opticalia,NICK,Ofertas montura + cristales,The Look,99.9
117,Opticalia,RYDER,Ofertas montura + cristales,The Look,99.9
118,Opticalia,ROURKE,Ofertas montura + cristales,The Look,99.9
119,Opticalia,BAGGY,Ofertas montura + cristales,The Look,99.9

In [34]:
data_tot_gaf_opt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Empresa          120 non-null    object
 1   Nombre completo  120 non-null    object
 2   Categoria        120 non-null    object
 3   Producto         120 non-null    object
 4   Precio           120 non-null    float64
dtypes: float64(1), object(4)
memory usage: 4.8+ KB

In [35]:
data_tot_gaf_opt.to_csv("./Data/col_gaf_opt.csv")