![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

### Relevancia de los defectos ópticos en la actualidad y mejor solución económica a estos problemas.

### TEMA

### Evaluación de todas las enfermedades oculares y la predominancia de cada una de ellas en un gran espectro.

### HIPÓTESIS

 #### 1. Predominancia de la miopía como afección visual mayoritaria.
 #### 2. El componente genetico en la miopía es de gran relevancia, además de otros valores como la longitud axial del ojo (distancia desde la superficie de la cornea hasta la retina)

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

In [1]:
import pandas as pd
fuente_1 = "https://data.world/datacrunch/prevalence-of-vision-problems-in-the-u-s/" , "Vault Analytics"
eye_dis = pd.read_csv("Prevelance of Eye Diseases in US.csv")
fuente_2 = "https://www.kaggle.com/datasets/mscgeorges/myopia-study", "Zadnik K, Mutti DO, Friedman NE, Qualley PA, Jones LA, Qui P, Kim HS, Hsu JC, Moeschberger ML. Ocular predictors of the onset of juvenile myopia. Invest Ophthalmol Vis Sci. 1999 Aug;40(9):1936-43. PMID: 10440246."
myopia_data = pd.read_csv("myopia.csv",sep=";")

#### En este primer dataframe obtendremos la dominancia de los diferentes problemas visuales en EEUU y de cada estado.

In [2]:
eye_dis.head()

,state,vision_problem,race,sex,age,number_of_cases,prevalence_rate,population
0,UNITED_STATES,AMD,ALL,ALL,ALL,2069403,"0,0209",142648393
1,UNITED_STATES,AMD,ALL,ALL,50-54,79268,"0,0036",22298125
2,UNITED_STATES,AMD,ALL,ALL,55-59,81083,"0,0041",19664805
3,UNITED_STATES,AMD,ALL,ALL,60-64,95553,"0,0057",16817924
4,UNITED_STATES,AMD,ALL,ALL,65-69,113107,"0,0091",12435263

In [3]:
print(eye_dis.info())
fuente_1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52260 entries, 0 to 52259
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            52260 non-null  object
 1   vision_problem   52260 non-null  object
 2   race             52260 non-null  object
 3   sex              52260 non-null  object
 4   age              52260 non-null  object
 5   number_of_cases  52260 non-null  int64
 6   prevalence_rate  52260 non-null  object
 7   population       52260 non-null  int64
dtypes: int64(2), object(6)
memory usage: 3.2+ MB
None

('https://data.world/datacrunch/prevalence-of-vision-problems-in-the-u-s/',
 'Vault Analytics')

### En el segundo dataframe tendremos un espectro más definido sobre la miopía y los factores que la pueden condicionar en una muestra de 600 niños aproximadamente con su evolución durante un periodo de 5 años.

In [4]:
myopia_data.head()

,ID,STUDYYEAR,MYOPIC,AGE,GENDER,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY
0,1,1992,1,6,1,-0.052,21.89,3.690,3.498,14.70,45,8,0,0,10,34,1,1
1,2,1995,0,6,1,0.608,22.38,3.702,3.392,15.29,4,0,1,1,7,12,1,1
2,3,1991,0,6,1,1.179,22.49,3.462,3.514,15.52,14,0,2,0,10,14,0,0
3,4,1990,1,6,1,0.525,22.20,3.862,3.612,14.73,18,11,0,0,4,37,0,1
4,5,1995,0,5,0,0.697,23.29,3.676,3.454,16.16,14,0,0,0,4,4,1,0

In [5]:
print(myopia_data.info())
print(fuente_2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         618 non-null    int64
 1   STUDYYEAR  618 non-null    int64
 2   MYOPIC     618 non-null    int64
 3   AGE        618 non-null    int64
 4   GENDER     618 non-null    int64
 5   SPHEQ      618 non-null    float64
 6   AL         618 non-null    float64
 7   ACD        618 non-null    float64
 8   LT         618 non-null    float64
 9   VCD        618 non-null    float64
 10  SPORTHR    618 non-null    int64
 11  READHR     618 non-null    int64
 12  COMPHR     618 non-null    int64
 13  STUDYHR    618 non-null    int64
 14  TVHR       618 non-null    int64
 15  DIOPTERHR  618 non-null    int64
 16  MOMMY      618 non-null    int64
 17  DADMY      618 non-null    int64
dtypes: float64(5), int64(13)
memory usage: 87.0 KB
None
('https://www.kaggle.com/datasets/mscgeorges/myopia-study', 'Zadnik K, Mutti DO, Friedman NE, Qualley PA, Jones LA, Qui P, Kim HS, Hsu JC, Moeschberger ML. Ocular predictors of the onset of juvenile myopia. Invest Ophthalmol Vis Sci. 1999 Aug;40(9):1936-43. PMID: 10440246.')