In [146]:
import pandas as pd
import numpy as np

Al igual que con las demás tiendas, empezamos ordenando lentes de contacto y liquidos, más tarde con las

In [147]:
data_lc_1= pd.read_csv("./Data/csv_scrap/afflelou/lc y liq/lc_aff_1.csv", index_col=0)
data_lc_2 = pd.read_csv("./Data/csv_scrap/afflelou/lc y liq/lc_aff_2.csv", index_col=0)
data_lc_3 = pd.read_csv("./Data/csv_scrap/afflelou/lc y liq/lc_aff_3.csv",index_col=0)
data_liq = pd.read_csv("./data/csv_scrap/afflelou/lc y liq/liqu_aff.csv", index_col=0)
data_gafas_1 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_1_aff.csv", index_col=0)
data_gafas_2 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_2_aff.csv", index_col=0)
data_gafas_3 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_3_aff.csv", index_col=0)
data_gafas_4 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_4_aff.csv", index_col=0)
data_gafas_5 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_5_aff.csv", index_col=0)
data_gafas_6 = pd.read_csv("./Data/csv_scrap/afflelou/gafas/grad_6_aff.csv", index_col=0)

In [148]:
data_tot_lc_aff = pd.concat([data_lc_1,data_lc_2,data_lc_3],axis=0)
data_tot_lc_aff.reset_index(inplace=True)
data_tot_lc_aff.drop("index",axis=1,inplace=True)

In [149]:
data_tot_lc_aff.head()

,nombre_completo,categoria,producto,reemplazo,precio
0,ACUVUE® OASYS MAX 1-Day - 30L,Diarias,Lentillas,1 mes (para 1 ojo),span span span span40€span span spanprecio we...
1,AIR OPTIX AQUA ESFÉRICA - 3L,Mensuales,Lentillas,3 meses (para 1 ojo),span span span span31€span span spanprecio we...
2,AIR OPTIX NIGHT & DAY - 6L,Mensuales,Lentillas,6 meses (para 1 ojo),span span span span77€span span spanprecio we...
3,AIR OPTIX NIGHT & DAY - 6L,Mensuales,Lentillas,6 meses (para 1 ojo),span span span span77€span span spanprecio we...
4,AIR OPTIX ESFÉRICA AQUA - 6L,Mensuales,Lentillas,6 meses (para 1 ojo),"span span span span48,5€span span spanprecio ..."

In [150]:
data_tot_lc_aff["Empresa"] = "Alain Afflelou"
data_tot_lc_aff["Categoria"] = "Lentes de contacto"

data_tot_lc_aff = data_tot_lc_aff.rename(columns={"nombre_completo":"Nombre completo",
                                  "producto":"Producto",
                                  "precio":"Precio",
                                  "categoria":"Reemplazo"})

data_tot_lc_aff = data_tot_lc_aff[["Empresa","Nombre completo","Categoria","Producto","Reemplazo","Precio"]]

In [151]:
data_tot_lc_aff["Reemplazo"]= data_tot_lc_aff["Reemplazo"].replace("Mensuales", "Mensual")
data_tot_lc_aff["Reemplazo"]= data_tot_lc_aff["Reemplazo"].replace("Quincenales", "Quincenal")

In [152]:
data_tot_lc_aff.head()

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Alain Afflelou,ACUVUE® OASYS MAX 1-Day - 30L,Lentes de contacto,Lentillas,Diarias,span span span span40€span span spanprecio we...
1,Alain Afflelou,AIR OPTIX AQUA ESFÉRICA - 3L,Lentes de contacto,Lentillas,Mensual,span span span span31€span span spanprecio we...
2,Alain Afflelou,AIR OPTIX NIGHT & DAY - 6L,Lentes de contacto,Lentillas,Mensual,span span span span77€span span spanprecio we...
3,Alain Afflelou,AIR OPTIX NIGHT & DAY - 6L,Lentes de contacto,Lentillas,Mensual,span span span span77€span span spanprecio we...
4,Alain Afflelou,AIR OPTIX ESFÉRICA AQUA - 6L,Lentes de contacto,Lentillas,Mensual,"span span span span48,5€span span spanprecio ..."

In [153]:
for index, row in data_tot_lc_aff.iterrows():
    if "ACUVUE" in row["Nombre completo"] or "acuvue" in row["Nombre completo"] or "Acuvue" in row["Nombre completo"]:
        data_tot_lc_aff.loc[index]["Producto"] = "Acuvue"

In [154]:
for index, row in data_tot_lc_aff.iterrows():
    if "AIR OPTIX" in row["Nombre completo"] or "Air Optix" in row["Nombre completo"] or "AIROPTIX" in row["Nombre completo"]:
        data_tot_lc_aff.loc[index]["Producto"] = "Air Optix"

In [156]:
for index, row in data_tot_lc_aff.iterrows():
    if "Dailies" in row["Nombre completo"]:
        data_tot_lc_aff.loc[index]["Producto"] = "Dailies"

In [157]:
for index, row in data_tot_lc_aff.iterrows():
    if "EPHEMERE" in row["Nombre completo"] or "CLEARCOLOR" in row["Nombre completo"]:
        data_tot_lc_aff.loc[index]["Producto"] = "Marca Propia"

In [158]:
for index, row in data_tot_lc_aff.iterrows():
    if "TOTAL 30" in row["Nombre completo"]:
        data_tot_lc_aff.loc[index]["Producto"] = "total 30"

In [159]:
for indice, valor in data_tot_lc_aff["Precio"].iteritems(): # Con este codigo limpiamos la fila de precio de cualquier tipo de carcarter, convirtiendo la cadena en float.
    cadena = valor
    for caracter in cadena:
        try:
            valor_float = float(cadena)
            data_tot_lc_aff.at[indice, "Precio"] = valor_float
            break
        except ValueError:
            if not caracter.isdigit() and caracter != '.' and caracter != '-':
                cadena = cadena.replace(caracter, '')
            cadena = cadena.replace(',', '.')
data_tot_lc_aff["Precio"] = data_tot_lc_aff["Precio"].astype(float)

In [160]:
data_tot_lc_aff.head()

,Empresa,Nombre completo,Categoria,Producto,Reemplazo,Precio
0,Alain Afflelou,ACUVUE® OASYS MAX 1-Day - 30L,Lentes de contacto,Acuvue,Diarias,40.0
1,Alain Afflelou,AIR OPTIX AQUA ESFÉRICA - 3L,Lentes de contacto,Air Optix,Mensual,31.0
2,Alain Afflelou,AIR OPTIX NIGHT & DAY - 6L,Lentes de contacto,Air Optix,Mensual,77.0
3,Alain Afflelou,AIR OPTIX NIGHT & DAY - 6L,Lentes de contacto,Air Optix,Mensual,77.0
4,Alain Afflelou,AIR OPTIX ESFÉRICA AQUA - 6L,Lentes de contacto,Air Optix,Mensual,48.5

In [161]:
data_tot_lc_aff.to_csv("./Data/Afflelou/lc_aff.csv")

Ahora con los liquidos

In [162]:
data_liq.drop("reemplazo",axis=1,inplace=True)
data_liq["Empresa"] = "Alain Afflelou"
data_liq = data_liq.rename(columns={"nombre_completo":"Nombre completo",
                                    "categoria":"Categoria",
                                    "producto":"Producto",
                                    "precio":"Precio"})

In [163]:
data_liq["Categoria"] = "Líquidos"

In [164]:
for index, row in data_liq.iterrows():
    if "Opti-Free" in row["Nombre completo"]:
        data_liq.loc[index]["Producto"] = "Opti-Free"

In [166]:
for index, row in data_liq.iterrows():
    if "ÉPHÉMÈRE" in row["Nombre completo"]:
        data_liq.loc[index]["Producto"] = "Marca Propia"

In [168]:
for indice, valor in data_liq["Precio"].iteritems(): # Con este codigo limpiamos la fila de precio de cualquier tipo de carcarter, convirtiendo la cadena en float.
    cadena = valor
    for caracter in cadena:
        try:
            valor_float = float(cadena)
            data_liq.at[indice, "Precio"] = valor_float
            break
        except ValueError:
            if not caracter.isdigit() and caracter != '.' and caracter != '-':
                cadena = cadena.replace(caracter, '')
            cadena = cadena.replace(',', '.')
data_liq["Precio"] = data_liq["Precio"].astype(float)

In [170]:
data_liq = data_liq[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [171]:
data_liq

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Alain Afflelou,Opti-Free Puremoist Bi-Pack 2x300ml,Líquidos,Opti-Free,31.30
1,Alain Afflelou,Opti-Free Express 355ml,Líquidos,Opti-Free,13.45
2,Alain Afflelou,L’ÉPHÉMÈRE GOTAS HUMECTANTES (multidosis),Líquidos,Marca Propia,5.50
3,Alain Afflelou,L’ÉPHÉMÈRE GOTAS HUMECTANTES (monodosis),Líquidos,Marca Propia,7.50
4,Alain Afflelou,Opti-Free Puremoist 300ml,Líquidos,Opti-Free,15.50

In [184]:
data_liq.to_csv("./Data/Afflelou/liq_aff.csv")

Ahora empezaré con las gafas.

In [172]:
data_tot_gaf_aff = pd.concat([data_gafas_1,data_gafas_2,data_gafas_3,data_gafas_4,data_gafas_5,data_gafas_6],axis=0)
data_tot_gaf_aff.reset_index(inplace=True)
data_tot_gaf_aff.drop("index",axis=1,inplace=True)

In [177]:
data_tot_gaf_aff["Empresa"] = "Alain Afflelou"
data_tot_gaf_aff["Producto"] = "Marca Propia"
data_tot_gaf_aff = data_tot_gaf_aff.rename(columns={"nombre_completo":"Nombre completo",
                                                    "categoria":"Categoria",
                                                    "producto":"Producto",
                                                    "precio":"Precio"})
data_tot_gaf_aff["Categoria"] = "Ofertas montura + cristales"
data_tot_gaf_aff = data_tot_gaf_aff[["Empresa","Nombre completo","Categoria","Producto","Precio"]]

In [180]:
for indice, valor in data_tot_gaf_aff["Precio"].iteritems(): # Con este codigo limpiamos la fila de precio de cualquier tipo de carcarter, convirtiendo la cadena en float.
    cadena = valor
    for caracter in cadena:
        try:
            valor_float = float(cadena)
            data_tot_gaf_aff.at[indice, "Precio"] = valor_float
            break
        except ValueError:
            if not caracter.isdigit() and caracter != '.' and caracter != '-':
                cadena = cadena.replace(caracter, '')
            cadena = cadena.replace(',', '.')
data_tot_gaf_aff["Precio"] = data_tot_gaf_aff["Precio"].astype(float)

In [182]:
data_tot_gaf_aff.head()

,Empresa,Nombre completo,Categoria,Producto,Precio
0,Alain Afflelou,Afflelou AFFLELOU FORTY SOLAR COLOR CAREY,Ofertas montura + cristales,Marca Propia,39.0
1,Alain Afflelou,Afflelou FORTY FILTRO LUZ AZUL - NEGRO,Ofertas montura + cristales,Marca Propia,39.0
2,Alain Afflelou,Afflelou BLUE BLOCK 1 MIXTE,Ofertas montura + cristales,Marca Propia,39.0
3,Alain Afflelou,Afflelou ROMY,Ofertas montura + cristales,Marca Propia,99.0
4,Alain Afflelou,Afflelou CARLA,Ofertas montura + cristales,Marca Propia,99.0

In [183]:
data_tot_gaf_aff.to_csv("./Data/Afflelou/gaf_aff.csv")